<launch>
    <arg name="odom_topic" value="/drone_visual_slam/odom"/> <!--mavros/local_position/odom-->

    <node pkg="ego_planner" name="pick_fsm_node" type ="pick_fsm_node" output="screen">
        <remap from="/odom" to="$(arg odom_topic)"/>
        <remap from="/detected_goal_pos" to="/move_base_simple/goal"/>
        <param name="goal_threshold" value="0.5"/>  
        <param name="orient_tolerance" value="0.5"/>
    </node>
</launch>